@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wgth@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,800;1,900&display=swap');

:root {
  --color-primary: #8e2ad6;
  --color-bg: #f1f1f1;
}
body {
  margin: 0 30px;
  font-family: "Poppins";
  background-color: var(--color-bg);
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: var(--color-primary);
  border-bottom: 1px dotted;
}
.site-header h1 {
  font-size: 1.5em;
  color: var(--color-primary);
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

/* recipe list */
.recipe-card {
  background-color: white;
  margin: 60px auto;
  padding: 20px 20px 20px 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.recipe-card .category-icon {
  position: absolute;
  top: -20px;
  left: -20px;
  background-color: var(--color-primary);
  font-size: 2em;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.recipe-card h2 {
  margin: 0;
}
.recipe-card small {
  display: block;
  margin-right: 10px;
  margin-bottom: 10px;
  color: #777;
}

.recipe-card .image-container {
  height: 100px;
  aspect-ratio: 1 / 1;
  background: #8e2ad6;
  overflow: hidden;
}
.recipe-card .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}